{% extends 'members/base.html' %}{% block content %}
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
  </div>

  <!-- Content Row -->
  <div class="row">
    <!-- Payment Status -->
    {% if membership_status == "Not Suspended" %}
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Payment Status</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{paid}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% for field in status %}
    <!-- Polo-->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Polo Field</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{field.polo_field_status}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %} {% for field in status %}

    <!-- Riding -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Riding Field</div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{field.riding_field_status}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %} {% else %}
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Payment Status</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{paid}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-danger shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Membership Status</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{membership_status}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% for field in status %}
    <!-- Polo-->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Polo Field</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{field.polo_field_status}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %} {% for field in status %}

    <!-- Riding -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Riding Field</div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{field.riding_field_status}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %} {% endif %}
    <!-- Content Row -->

    <div class="row">
      <!-- Days For Riding -->
      <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Days Selected</h6>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{day1}}</li>

              <li class="list-group-item">{{day2}}</li>

              <li class="list-group-item">{{day3}}</li>
              <li>edvdev {{days_remaining}}</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Payment History -->
      <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Payment History</h6>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm ml-5">More Info</a>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <ul class="list-group list-group-flush">
              {% for pay in payment_history %}
              <li class="list-group-item">{{pay.payment_for}} ---- {{pay.date_paid}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <!-- Perks -->
      <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Mmebership Perks</h6>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Content Row -->
    <div class="row"></div>
  </div>
  {% endblock content %}
</div>
