{% extends 'members/base.html' %}{% block content %}{% load crispy_forms_tags %} {% load static %}

<section style="background-color: #eee">
  <form action="" name="form1" method="POST">
    {% csrf_token %} {% if stat == "Single" %}
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <h5>Guardian</h5>
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar" class="rounded-circle img-fluid" style="width: 150px" />
              <h5 class="my-3">{{form.name}}</h5>
              <h5 class="my-3">{{guardian_name}}</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">First Nam</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{form.guardian_name}}</p>
                </div>
              </div>
              <hr />

              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Age</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{form.guardian_age}}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{form.email}}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">weight</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{form.guardian_weight}}</p>
                </div>
              </div>
              <hr />

              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">height</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{form.guardian_height}}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Day</p>
                </div>
                <div class="col-sm-9">
                  {% for day in days %}
                  <div class="form-check">
                    <input type="checkbox" name="day" class="form-check-input Present 1" id="1" value="{{day.name}}" />
                    <label class="form-check-label" for="flexCheckDefault"> {{day.name}} </label>
                  </div>
                  {% endfor %}
                </div>
              </div>
              <hr />

              <div class="row">
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% else %}

    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <h5>Guardian</h5>
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar" class="rounded-circle img-fluid" style="width: 150px" />
              <h5 class="my-3">{{form.name}}</h5>
              <h5 class="my-3">{{form.guardian_name}}</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">First Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{form.guardian_name}}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Age</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{form.guardian_age}}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{form.email}}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">weight</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{form.guardian_weight}}</p>
                </div>
              </div>
              <hr />
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">guardian_height</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{form.guardian_height}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <h5>Member 1</h5>
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar" class="rounded-circle img-fluid" style="width: 150px" />
              <h5 class="my-3">{{member1_name}}</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{form.member1_full_name}}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Age</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{form.member1_age}}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{form.member1_email}}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Weight</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{form.member1_weight}}</p>
                </div>
              </div>

              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Height</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{form.member1_height}}</p>
                </div>
              </div>

              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>

                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{form.member1_address}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <h5>Member 2</h5>
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar" class="rounded-circle img-fluid" style="width: 150px" />
              <h5 class="my-3">{{member2_name}}</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{form.member2_full_name}}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Age</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{form.member2_age}}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{form.member2_email}}</p>
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Weight</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{form.member2_weight}}</p>
                </div>
              </div>

              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Height</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{form.member2_height}}</p>
                </div>
              </div>

              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>

                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{form.member2_address}}</p>
                </div>
              </div>
              <div class="row">
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </form>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script type="text/javascript">
  $("input:checkbox").click(function () {
    var bol = $("input:checkbox:checked").length >= 3;
    $("input:checkbox").not(":checked").attr("disabled", bol);
  });
</script>
{% endblock %}
