{% extends 'members/base.html' %}{% block content %}
<div class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <br /><br />
      <h3>Special Thanks to Bootsnipp</h3>
      <br /><br />
    </div>
  </div>

  <div class="row db-padding-btm db-attached">
    {% for memberships in form %}
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <div class="db-wrapper">
        <div class="db-pricing-eleven db-bk-color-three">
          <div class="price">
            <sup>₦</sup>{{memberships.price}}
            <small>per quarter</small>
          </div>
          <div class="type">{{memberships.membership_type}}</div>
          <ul>
            <li><i class="glyphicon glyphicon-print"></i>30+ Accounts</li>
          </ul>
          <div class="pricing-footer">
            <a href="{% url 'subscribe' %}?membership_plan={{memberships.membership_type}}" class="btn db-button-color-square btn-lg">Subscribe</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
