{% extends 'members/base.html' %}{% block content %} {% load static %}
<div class="app-content-header">
  <!--begin::Container-->
  <div class="container-fluid">
    <!--begin::Row-->
    <div class="row">
      <div class="col-sm-6">
        <h3 class="mb-0">Notifications</h3>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-end">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Notifications</li>
        </ol>
      </div>
    </div>
    <!--end::Row-->
  </div>
  <!--end::Container-->
</div>
<!--end::App Content Header-->
<!--begin::App Content-->
<div class="app-content">
  <!--begin::Container-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card mb-4">
          <div class="card-header border-0">
            <h3 class="card-title">Notifications</h3>
            <div class="card-tools">
              <a href="#" class="btn btn-tool btn-sm">
                <i class="bi bi-download"></i>
              </a>
              <a href="#" class="btn btn-tool btn-sm">
                <i class="bi bi-list"></i>
              </a>
            </div>
          </div>
          <div class="card-body table-responsive p-0">
            <table class="table table-striped align-middle">
              <thead>
                <tr>
                  <th>Product</th>
                  <th>Price</th>
                  <th>Sales</th>
                  <th>More</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <img src="../../dist/assets/img/default-150x150.png" alt="Product 1" class="rounded-circle img-size-32 me-2" />
                    Some Product
                  </td>
                  <td>$13 USD</td>
                  <td>
                    <small class="text-success me-1">
                      <i class="bi bi-arrow-up"></i>
                      12%
                    </small>
                    12,000 Sold
                  </td>
                  <td>
                    <a href="#" class="text-secondary">
                      <i class="bi bi-search"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="../../dist/assets/img/default-150x150.png" alt="Product 1" class="rounded-circle img-size-32 me-2" />
                    Another Product
                  </td>
                  <td>$29 USD</td>
                  <td>
                    <small class="text-warning me-1">
                      <i class="bi bi-arrow-down"></i>
                      0.5%
                    </small>
                    123,234 Sold
                  </td>
                  <td>
                    <a href="#" class="text-secondary">
                      <i class="bi bi-search"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="../../dist/assets/img/default-150x150.png" alt="Product 1" class="rounded-circle img-size-32 me-2" />
                    Amazing Product
                  </td>
                  <td>$1,230 USD</td>
                  <td>
                    <small class="text-danger me-1">
                      <i class="bi bi-arrow-down"></i>
                      3%
                    </small>
                    198 Sold
                  </td>
                  <td>
                    <a href="#" class="text-secondary">
                      <i class="bi bi-search"></i>
                    </a>
                  </td>
                </tr>
                <tr>
                  <td>
                    <img src="../../dist/assets/img/default-150x150.png" alt="Product 1" class="rounded-circle img-size-32 me-2" />
                    Perfect Item
                    <span class="badge text-bg-danger">NEW</span>
                  </td>
                  <td>$199 USD</td>
                  <td>
                    <small class="text-success me-1">
                      <i class="bi bi-arrow-up"></i>
                      63%
                    </small>
                    87 Sold
                  </td>
                  <td>
                    <a href="#" class="text-secondary">
                      <i class="bi bi-search"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row (main row) -->
</div>
{% endblock content %}
