{% extends 'staff/base.html' %}{% block content %}{% load crispy_forms_tags %}

<!--begin::App Content Header-->
<div class="app-content-header">
  {% include 'messages.html' %}
  <!--begin::Container-->
  <div class="container-fluid">
    <!--begin::Row-->
    <div class="row">
      <div class="col-sm-6">
        <h3 class="mb-0">Tickets</h3>
      </div>
    </div>
    <!--end::Row-->
  </div>
  <!--end::Container-->
</div>
<!--end::App Content Header-->
<!--begin::App Content-->
<div class="app-content">
  <!--begin::Container-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-9">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"></h6>
          </div>
          <div class="card-body">
            <form class="row g-3" method="post">
              {% csrf_token %}

              <div class="col-6 pb-3">{{form.customer_fullname|as_crispy_field}}</div>
              <div class="col-6 pb-3">{{form.customer_email|as_crispy_field}}</div>

              <div class="col-12 pb-3">{{form.customer_number|as_crispy_field}}</div>
              <div class="col-6">{{form.service|as_crispy_field}}</div>
              <div class="col-6 pb-3">{{form.quantity|as_crispy_field}}</div>

              <div class="col-12"><button type="submit" class="btn btn-primary mr-2">Submit</button><a href="{{request.META.HTTP_REFERER}}" class="btn btn-secondary">Back</a></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row (main row) -->
</div>
<!--end::App Content-->
{% endblock content %}
