{% extends 'staff/base.html' %}{% block content %} {% load static %}

<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Add</h1>
  </div>
  <div class="row">
    <div class="col-xl-9">
      <!-- DataTales Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary"></h6>
        </div>
        <div class="card-body">
          <form class="row g-3" method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete "{{obj}}"?</p>
            <div class="col-12">
              <button type="submit" class="btn btn-primary" style="margin-right: 20px">Submit</button><a href="{{request.META.HTTP_REFERER}}" class="btn btn-secondary">Back</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
