{% extends 'staff/base.html' %}{% block content %} {% load static %} {% include 'messages.html' %}{% load humanize %}
<div class="app-content-header">
  <!--begin::Container-->
  <div class="container-fluid">
    <!--begin::Row-->
    <div class="row">
      <div class="col-sm-6">
        <h3 class="mb-0">Dashboard</h3>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-end">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
      </div>
    </div>
    <!--end::Row-->
  </div>
  <!--end::Container-->
</div>
<div class="app-content">
  <div class="container-fluid">
    <div class="row">
      {% for day, members in members_by_day.items %}
      <div class="col-lg-6">
        <div class="card mb-4">
          <div class="card-header border-0">
            <h2>{{ day.name }}</h2>
          </div>
          <div class="card-body table-responsive p-0">
            <div class="card mb-4">
              <div class="card-body">
                {% for member in members %}
                <strong>{{ member }}</strong>
                <hr />
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
