{% extends 'admin2/base.html' %}{% block content %}
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Staff</h1>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"></i>Add Staff</a>
  </div>

  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12">
      <!-- DataTales Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary"></h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>S/N</th>
                  <th>Name</th>
                  <th>Hired</th>
                  <th>Salary</th>
                  <th>Role</th>
                  <th>Next Salary Payment</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>S/N</th>
                  <th>Name</th>
                  <th>Hired</th>
                  <th>Salary</th>
                  <th>Role</th>
                  <th>Next Salary Payment</th>
                  <th>Actions</th>
                </tr>
              </tfoot>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Tiger Nixon</td>
                  <td>20th June 2013</td>
                  <td>20,000</td>
                  <td>Cleaner</td>
                  <td>20th June 2024</td>
                  <td>
                    <a href="#" class="btn btn-success btn-icon-split">
                      <span class="text">Edit</span>
                    </a>
                    <a href="#" class="btn btn-danger btn-icon-split">
                      <span class="text">Delete</span>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
