{% extends 'base.html' %}{% block content %}
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Horses</h1>
    <a href="{% url 'addHorses' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Send A Message</a>
  </div>

  <div class="row">
    <!-- Area Chart -->
    <div class="col-xl-12">
      <!-- DataTales Example -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary"></h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Membership</th>
                  <th>Date Paid</th>
                  <th>Expiry Date</th>
                  <th>Price Paid</th>
                  <th>Activity</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Membership</th>
                  <th>Date Paid</th>
                  <th>Expiry Date</th>
                  <th>Price Paid</th>
                  <th>Activity</th>
                  <th>Actions</th>
                </tr>
              </tfoot>
              <tbody>
                {% for pay in payment_history %}
                <tr>
                  <td>{{pay.payment_for}}</td>
                  <td>{{pay.date_paid}}</td>
                  <td>{{pay.expiry_date}}</td>
                  <td>{{pay.amount}}</td>
                  <td>{{pay.activity}}</td>
                  <td>
                    <a href="" class="btn btn-success btn-icon-split">
                      <span class="text">Print Reciept</span>
                    </a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
