{% extends 'members/base.html' %}{% block content %} {% load static %}
<!--begin::App Content Header-->
<div class="app-content-header">
  {% include 'messages.html' %}
  <!--begin::Container-->
  <div class="container-fluid">
    <!--begin::Row-->
    <div class="row">
      <div class="col-sm-6">
        <h3 class="mb-0">Support Ticket</h3>
      </div>
      <div class="col-sm-6">
        <span class="breadcrumb float-sm-end">
          <a href="{% url 'create-ticket' %}" class="btn btn-primary btn-lg">Create a Ticket</a>
        </span>
      </div>
    </div>
    <!--end::Row-->
  </div>
  <!--end::Container-->
</div>
<!--end::App Content Header-->
<!--begin::App Content-->
<div class="app-content">
  <!--begin::Container-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-10">
        <div class="card mb-4">
          <div class="card-body table-responsive p-0">
            <table class="table table-striped align-middle">
              <thead>
                <tr>
                  <th>Purpose</th>
                  <th>Message</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for ticket in support_ticket %}
                <tr>
                  <td>{{ticket.purpose}}</td>
                  <td>{{ticket.message}}</td>
                  <td><a href="" class="btn btn-info">Edit</a><a href="" class="btn btn-danger" style="margin-left: 20px">Delete</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row (main row) -->
</div>
<!--end::App Content-->
{% endblock content %} ]]]
