{% extends 'members/base.html' %}{% block content %} {% load static %} {% include 'messages.html' %}
<div class="app-content-header">
  <!--begin::Container-->
  <div class="container-fluid">
    <!--begin::Row-->
    <div class="row">
      <div class="col-sm-6">
        <h3 class="mb-0">Dashboard</h3>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-end">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
      </div>
    </div>
    <!--end::Row-->
  </div>
  <!--end::Container-->
</div>
<div class="app-content">
  {% if days_remaining <= 0 %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="card mb-4">
          <div class="card-header border-0">
            <h3 class="card-title">User Details</h3>
          </div>
          <div class="card-body table-responsive p-0">
            <div class="">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Full Name</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{profile.first_name}} {{profile.last_name}}</p>
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{profile.email}}</p>
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Phone</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{profile.phone}}</p>
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Address</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{profile.address}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.col-md-6 -->
      <div class="col-lg-6">
        <div class="card">
          <div class="card-header border-0">
            <h3 class="card-title">Payment History</h3>
            <div class="card-tools">
              <a href="{% url 'billing_history' %}" class="btn btn-tool btn-sm">
                <i class="bi bi-list"></i>
              </a>
            </div>
          </div>
          <div class="card-body table-responsive p-0">
            <table class="table table-striped align-middle">
              <thead>
                <tr>
                  <th>Membership</th>
                  <th>Amount</th>
                  <th>Date Paid</th>
                </tr>
              </thead>
              <tbody>
                {% for pay in payment_history %}
                <tr>
                  <td>{{pay.payment_for}}</td>
                  <td>{{pay.amount}}</td>
                  <td>{{pay.date_paid.date}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- /.col-md-6 -->
    </div>
  </div>
  {% else %}
  <div class="container-fluid">
    <!--begin::Row-->
    <div class="row">
      <!--begin::Col-->

      <div class="col-lg-4 col-6">
        <!--begin::Small Box Widget 1-->
        <div class="small-box text-bg-warning">
          <div class="inner">
            <h3>{{permis}}</h3>
            <p>{{activity_status}}</p>
          </div>
        </div>
        <!--end::Small Box Widget 1-->
      </div>

      <!--end::Col--
      <!--begin::Col-->
      <div class="col-lg-4 col-6">
        <!--begin::Small Box Widget 1-->
        <div class="small-box text-bg-primary">
          <div class="inner">
            <h3>{{form.membership}}</h3>
            <p>Membership</p>
          </div>
        </div>
        <!--end::Small Box Widget 1-->
      </div>
      <!--end::Col-->
      <div class="col-lg-4 col-6">
        <!--begin::Small Box Widget 2-->
        <div class="small-box text-bg-success">
          <div class="inner">
            <h3>{{form.paid_until}}</h3>
            <p>Expiry Date</p>
          </div>
        </div>
        <!--end::Small Box Widget 2-->
      </div>
      <!--end::Col-->
      <div class="col-lg-4 col-6">
        <!--begin::Small Box Widget 3-->
        <div class="small-box text-bg-danger">
          <div class="inner">
            <h3>{{membership_status}}</h3>
            <p>Member Status</p>
          </div>
        </div>
        <!--end::Small Box Widget 3-->
      </div>
      <!--end::Col-->
    </div>
    <!--end::Row-->

    <div class="row">
      <div class="col-lg-6">
        <div class="card mb-4">
          <div class="card-header border-0">
            <h3 class="card-title">User Details</h3>
          </div>
          <div class="card-body table-responsive p-0">
            <div class="">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Full Name</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{profile.first_name}} {{profile.last_name}}</p>
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{profile.email}}</p>
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Phone</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{profile.phone}}</p>
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Address</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{profile.address}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% if form.activity == "Riding" %}
        <!-- /.card -->
        <div class="card mb-5">
          <div class="card-header border-0">
            <h3 class="card-title">Days For Riding</h3>
          </div>
          <div class="card-body table-responsive p-0">
            <table class="table table-striped align-middle">
              <thead>
                <tr>
                  <th>Day</th>
                  <th>Time</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Monday</td>
                  <td>8am - 6pm</td>
                </tr>
                <tr>
                  <td>Tuesday</td>
                  <td>8am - 6pm</td>
                </tr>
                <tr>
                  <td>Thursday</td>
                  <td>8am - 6pm</td>
                </tr>
                <tr>
                  <td>Friday</td>
                  <td>8am - 6pm</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- /.card -->
        {% else %}

        <!-- /.card -->
        <div class="card mb-5">
          <div class="card-header border-0">
            <h3 class="card-title">Days Selected</h3>
          </div>
          <div class="card-body table-responsive p-0">
            <table class="table table-striped align-middle">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Day</th>
                  <th>Time</th>
                </tr>
              </thead>
              <tbody>
                {% for day in days %}
                <tr>
                  <td>{{day.name}}</td>
                  <td>{{day.days}}</td>
                  <td>{{day.time_slot}}</td>
                </tr>

                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <!-- /.card -->
        {% endif %}
        <!-- /.card -->
        <!-- <div class="card">
          <div class="card-header border-0">
            <h3 class="card-title">Days Selected</h3>
            <div class="card-tools">
              <a href="{% url 'members-details' %}" class="btn btn-tool btn-sm">
                <i class="bi bi-list"></i>
              </a>
            </div>
          </div>
          <div class="card-body table-responsive p-0">
            <table class="table table-striped align-middle">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Day</th>
                  <th>Time</th>
                </tr>
              </thead>
              <tbody>
                {% for day in days %}
                <tr>
                  <td>{{day.name}}</td>
                  <td>{{day.days}}</td>
                  <td>{{day.time_slot}}</td>
                </tr>

                {% endfor %}
              </tbody>
            </table>
          </div>
        </div> -->
        <!-- /.card -->
      </div>

      <!-- /.col-md-6 -->
      <div class="col-lg-6">
        <div style="margin-top: -10px">
          <div class="card-header border-0">
            <h3 class="card-title">Member Perks</h3>
          </div>
          <div class="card-body table-responsive p-0">
            <div class="info-box mb-3 text-bg-warning">
              <span class="info-box-icon">
                <i class="bi bi-tag-fill"></i>
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Inventory</span>
                <span class="info-box-number">5,200</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
            <div class="info-box mb-3 text-bg-success">
              <span class="info-box-icon">
                <i class="bi bi-heart-fill"></i>
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Mentions</span>
                <span class="info-box-number">92,050</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
            <div class="info-box mb-3 text-bg-danger">
              <span class="info-box-icon">
                <i class="bi bi-cloud-download"></i>
              </span>

              <div class="info-box-content">
                <span class="info-box-text">Downloads</span>
                <span class="info-box-number">114,381</span>
              </div>
              <!-- /.info-box-content -->
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header border-0">
            <h3 class="card-title">Payment History</h3>
            <div class="card-tools">
              <a href="{% url 'billing_history' %}" class="btn btn-tool btn-sm">
                <i class="bi bi-list"></i>
              </a>
            </div>
          </div>
          <div class="card-body table-responsive p-0">
            <table class="table table-striped align-middle">
              <thead>
                <tr>
                  <th>Membership</th>
                  <th>Amount</th>
                  <th>Date Paid</th>
                </tr>
              </thead>
              <tbody>
                {% for pay in payment_history %}
                <tr>
                  <td>{{pay.payment_for}}</td>
                  <td>{{pay.amount}}</td>
                  <td>{{pay.date_paid.date}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- /.col-md-6 -->
    </div>
  </div>
  {% endif %}
</div>
{% endblock content %}
